@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-gradient-to-l from-slate-900 via-gray-950 to-slate-900;
    }
}

@font-face {
    font-family: 'GeistMono';
    src: url('/fonts/GeistMonoVF.woff') format('woff');
}

.font-geistmono {
    font-family: 'GeistMono', monospace;
}

.custom-pulse {
    animation: pulse 5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
}
