@keyframes blink {
  50% {
    opacity: 0;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.animate-blink {
  animation: blink 1s step-start infinite;
}

.animate-pulse {
  animation: pulse 1s ease-in-out infinite;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
